language: julia
sudo: required
dist: trusty
julia:
  - 0.7
  - 1.0
notifications:
  email: false
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y pdf2svg
  - sudo apt-get install -y texlive-latex-base
  - sudo apt-get install -y texlive-binaries
  - sudo apt-get install -y texlive-pictures
  - sudo apt-get install -y texlive-latex-extra
after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("TikzPictures")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'

